#define CHANGE_SIDE_TO_LOCAL_MODE COMPANY
	# store sides so that they can be restored afterwards
	{VARIABLE company_side $GN_COMPANY[{COMPANY}].company.side}

	[store_side]
		side=$company_side
		variable="GN_GLOBAL_SIDE_$company_side|"
	[/store_side]

	# set income to zero and give the companies gold to work with
	[modify_side]
		side=$company_side
		income=-2
		gold="$($GN_COMPANY[{COMPANY}].company.hitpoints| + $GN_COMPANY_SURPLUS_GOLD|)"
		village_gold=0
	[/modify_side]
	{CLEAR_VARIABLE company_side}
#enddef

#define CHANGE_SIDE_TO_GLOBAL_MODE COMPANY

	# restore side parameters to global
	{VARIABLE company_side $GN_COMPANY[{COMPANY}].company.side}
	[modify_side]
		side=$company_side
		income=$GN_GLOBAL_SIDE_$company_side|.income
		gold=$GN_GLOBAL_SIDE_$company_side|.gold
		village_gold=$GN_GLOBAL_SIDE_$company_side|.village_gold
	[/modify_side]
	{CLEAR_VARIABLE company_side}
	{CLEAR_VARIABLE GN_GLOBAL_SIDE_$company_side|}
#enddef

#define CHANGE_DEFEAT_CONDITION_TO_LOCAL_MODE
	# lua script to set defeat condition. this is not possible via wml
	[lua]
		code=<<
			for i, side in pairs(wesnoth.sides) do
				wesnoth.set_variable("GN_GLOBAL_DEFEAT_CONDITION_"..i, side.defeat_condition)
				side.defeat_condition = "never"
			end
		>>
	[/lua]
#enddef

#define CHANGE_DEFEAT_CONDITION_TO_GLOBAL_MODE

	# lua script to set defeat condition. this is not possible via wml
	[lua]
		code=<<
			for i, side in pairs(wesnoth.sides) do
				local dcond = wesnoth.get_variable("GN_GLOBAL_DEFEAT_CONDITION_"..i)
				side.defeat_condition = dcond
				wesnoth.set_variable("GN_GLOBAL_DEFEAT_CONDITION_"..i, nil)
			end
		>>
	[/lua]
#enddef

