# this event creates a skirmish whenever a
# company attacks another.
[event]
	id=Company_attack_event
	name=attacker hits
	first_time_only=no
	[filter_attack]
		special=engagement
	[/filter_attack]

	{SET_LOCAL_MODE}
[/event]

[event]
	id=level_up_on_advancement
	# for version >= 1.13.0, change to "pre advance"
	name=post advance
	first_time_only=no
	[filter]
		race=Company
	[/filter]
[wml_message]
	message="level up $unit.name| from lvl $unit.level|"
	logger=warning
[/wml_message]
	[modify_unit]
		[filter]
			id=$unit.id
		[/filter]
		level="$($unit.level|+1)"
	[/modify_unit]
[store_unit]
	[filter]
		id=$unit.id
	[/filter]
	variable=unit
[/store_unit]
[wml_message]
	message="to $unit.level|"
	logger=warning
[/wml_message]
[/event]

